#Title{
    width:100%;
    background-color: darkgray;
}

.grid{
    display: grid;
    padding: 0px;
    grid-template-columns: auto auto auto auto;
    border: 2px solid black;
}

.gridheader
{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    text-align: center;
}

.gridcontent
{
    font-size: 20px;
    text-align: center;
}

.gridheader + .gridheader 
{
    border-left: 2px solid black;
}

.gridcontent + .gridcontent 
{
    border-left: 2px solid black;
}

body{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    text-align: center
}

h3{
    text-align: center
}

h4{
    text-align: center
}

header{
    background-color: beige;
}


table{
    width: 100%;
    column-fill: inherit;
    border: 2px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

th{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    text-align: center;
}

td{
    font-size: 20px;
    text-align: center;
}

table td + td {
    border-left: 2px solid black;
}

